@use "../globals/colors" as *;
@use "../globals/mixin" as *;
.special {
  position:relative;
  z-index: 2;
  background: rgba(9, 166, 109, 0.05);
  padding: 88px 0 143px;
  .leaves {
    z-index: 1;
    position:absolute;
    bottom: -30px;
    right: -40px
  }
  .special-box {
    z-index: 2;
    position: relative;
    @include adjust;
  }
  &__texts {
    width: 45%;
  }
  &__title {
    font-size: 3rem;
    margin-bottom: 8px;
  }
  &__subtitle {
    font-size: 1rem;
    margin-bottom:50px;
  }
  &__img {
    width: 40%;
  }
  @include tablet {
    .leaves {
      display: none;
    }
    .special-box {
      flex-direction: column-reverse;
      align-items: center;
      justify-content:center;
      row-gap: 50px;
    }
    &__texts {
      width: 80%;
      margin: 0 auto;
    }
    &__img {
      width: 60%;
      margin: 0 auto;
    }
  }
  @include mobile {
    padding: 40px 0;
    .special-box {
      row-gap: 40px;
    }
    &__texts {
      width: 90%;
    }
    &__title {
      font-size: 1.7rem;
    }
    &__subtitle {
      font-size: .8rem;
    }
    &__img {
      width: 90%;

    }
  }
}